*{
  box-sizing: border-box;
}
h1{
  color: #e84848;
  font-size: 3.8rem;
  margin-bottom: 4rem;
}
i{
  color: #646464;
  font-size: 2.5rem !important;
  position: absolute;
}
input{
  padding-left: 3.5rem !important;
  width: 89% !important;
}
button{
  background-color: #7aa44a !important;
  font-size: 1.5rem !important;
  height: 3rem !important;
  width: 8rem;
}
font{
  bottom: 0.1rem;
  position: relative;
}
img{
  height: 100%;
  width: 100%;
}
.fondo{
  bottom: 11px;
  height: 20% !important;
  left: -10px;
  position: absolute;
  transform: scaleY(1.8);
  width: 111% !important;
}
.rowPokemon{
  padding: 0 0rem 0 7rem !important;
}

.contPokemon{
  background-color: #dbdbdb;
  box-sizing: content-box !important;
  margin: 1rem 5rem;
  position: relative;
  text-transform: capitalize;
  width: 11.666667% !important;
}
.contIcon{
  display: flex;
  justify-content: center;
}
.icon{
  height: 1.5rem;
  margin: 1em 0.5em 0;
  width: 1.5rem;
  z-index: 700;
}
.cont-modal{
  background: rgba(6, 6, 6, 0.5);
  display: none;
  height: 5302%;
  left: 0 !important;
  position: absolute;
  top: 0;
  z-index: 1000;
}
.modal{
  background-color: #e8e8e8;
  display: block;
  padding: 2rem !important;
  top:35%;
}
.close{
  display: inline-block;
  height: 1.5rem;
  position: absolute;
  right: 2rem ;
  width: 1.5rem;
}
